<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.2.js"></script>
<!-- <style>
  #wc-panel {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
  }
</style>
 --><!-- <div id="wc-panel" class="panel panel-default">
  <div class="panel-body" style="padding: 5px;">
    <img src="data:image/png;base64,{{ flow_plot }}" alt="flow plot"/>
  </div>
</div>
<div id="wc-panel" class="panel panel-default">
  <div class="panel-body" style="padding: 5px;">
    <img src="data:image/png;base64,{{ water_plot }}" alt="water plot"/>
  </div>
</div>
 -->

 amnon<br>
 {{ flow_plot }}
 poita<br>

 {{ water_plot}}
  poota<br>
